.text-shadow-light-blue {
    text-shadow:0px 0px 1px rgba(200, 200, 200, 0.8); /* pink shadow */
}
.text-shadow-black{
    text-shadow:0px 0px 1px black;
}
.text-shadow-white{
    text-shadow:0px 0px 1px white; 
}
.transform {
    transform: translateX(0);
  }
  
  .-translate-x-full {
    transform: translateX(-100%);
  }
  #sideMenu {
    transition: transform 0.5s ease-in-out;
}
#sun-icon {
    filter: invert(0) brightness(1);
}

/* Sun icon color in dark mode */
.dark #sun-icon {
    filter: invert(1) brightness(1) contrast(0); /* Increase brightness and contrast */
}
.text-shadow-custom{
      text-shadow: 0px 0px 2px rgba(50, 0, 50, 0.6); /* Dark pinkish shadow */
}
.font-jenna-sue{
    font-family: 'Jenna Sue', cursive; 
}
.custom-max-w-xl {
    max-width: 600px;
  }
  .wave {
    
    animation: wave-animation 2s infinite;
    transform-origin: 70% 70%; /* Set the origin point for the waving */
  }

  @keyframes wave-animation {
    0% { transform: rotate(0deg); }
    15% { transform: rotate(14deg); }
    30% { transform: rotate(-8deg); }
    40% { transform: rotate(14deg); }
    50% { transform: rotate(-4deg); }
    60% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
  }
 
